## <center> Go to piazza and open today's lecture notes in the hub! </center>
## <center> https://piazza.com/class/jzioyk40mhs6r2 </center>
## <center> Let's go to tophat for attendance! </center>
## <center> https://app.tophat.com/e/245218 </center>

## Project
hi again :)

- I'll assign a TA mentor to you tomorrow, the TAs will reach out to you via email.
- Meet with your TA mentor by September 24th!
- First draft of project description due to the TAs by 24th of September
- Final draft is due by September 30th!

# <center> Data transformations: pandas data frames </center>
### By the end of this course, you will be able to
   - read in csv, excel, and sql data into a pandas data frame
   - filter rows in various ways
   - select columns
   - merge and append data frames

### Some notes and advice

- **ALWAYS READ THE HELP OF THE METHODS/FUNCTIONS YOU USE!**

- stackoverflow is your friend, use it! https://stackoverflow.com/

## <center> Pandas </center>

- data are often distributed over multiple files/databases (e.g., csv and excel files, sql databases)
- each file/database is read into a pandas dataframe
- you often need to filter dataframes (select specific rows/columns based on index or condition)
- pandas dataframes can be merged and appended

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - **read in csv, excel, and sql data into a pandas data frame**
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  <font color='LIGHTGRAY'>select columns</font>
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

In [1]:
# how to read in a database into a dataframe and basic dataframe structure
import pandas as pd

# load data from a csv file
df = pd.read_csv('data/adult_data.csv') # there are also pd.read_excel(), and pd.read_sql()

print(df)
#print(df.head()) # by default, shows the first five rows but check help(df.head) to specify the number of rows to show
#print(df.shape) # the shape of your dataframe (number of rows, number of columns)
#print(df.shape[0]) # number of rows
#print(df.shape[1]) # number of columns

       age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
7       52   Self-emp-not-inc  209642        HS-grad              9
8       31            Private   45781        Masters             14
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
12      23            Private  122272      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
19      43   Self-emp-not-inc  292175        Masters             14
20      40            Private  193524      Doctorate             16
21      54            Private  302146        HS-grad              9
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
24      59            Private  109015        HS-grad              9
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                  ?  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
...    ...                ...     ...            ...            ...
32531   30                  ?   33811      Bachelors             13
32532   34            Private  204461      Doctorate             16
32533   54            Private  337992      Bachelors             13
32534   37            Private  179137   Some-college             10
32535   22            Private  325033           12th              8
32536   34            Private  160216      Bachelors             13
32537   30            Private  345898        HS-grad              9
32538   38            Private  139180      Bachelors             13
32539   71                  ?  287372      Doctorate             16
32540   45          State-gov  252208        HS-grad              9
32541   41                  ?  202822        HS-grad              9
32542   72                  ?  129912        HS-grad              9
32543   45          Local-gov  119199     Assoc-acdm             12
32544   31            Private  199655        Masters             14
32545   39          Local-gov  111499     Assoc-acdm             12
32546   37            Private  198216     Assoc-acdm             12
32547   43            Private  260761        HS-grad              9
32548   65   Self-emp-not-inc   99359    Prof-school             15
32549   43          State-gov  255835   Some-college             10
32550   43   Self-emp-not-inc   27242   Some-college             10
32551   32            Private   34066           10th              6
32552   43            Private   84661      Assoc-voc             11
32553   32            Private  116138        Masters             14
32554   53            Private  321865        Masters             14
32555   22            Private  310152   Some-college             10
32556   27            Private  257302     Assoc-acdm             12
32557   40            Private  154374        HS-grad              9
32558   58            Private  151910        HS-grad              9
32559   22            Private  201490        HS-grad              9
32560   52       Self-emp-inc  287927        HS-grad              9

               marital-status          occupation     relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                   ?          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
32531           Never-married                   ?    Not-in-family
32532      Married-civ-spouse      Prof-specialty          Husband
32533      Married-civ-spouse     Exec-managerial          Husband
32534                Divorced        Adm-clerical        Unmarried
32535           Never-married     Protective-serv        Own-child
32536           Never-married     Exec-managerial    Not-in-family
32537           Never-married        Craft-repair    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32539      Married-civ-spouse                   ?          Husband
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32542      Married-civ-spouse                   ?          Husband
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32547      Married-civ-spouse   Machine-op-inspct          Husband
32548           Never-married      Prof-specialty    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32550      Married-civ-spouse        Craft-repair          Husband
32551      Married-civ-spouse   Handlers-cleaners          Husband
32552      Married-civ-spouse               Sales          Husband
32553           Never-married        Tech-support    Not-in-family
32554      Married-civ-spouse     Exec-managerial          Husband
32555           Never-married     Protective-serv    Not-in-family
32556      Married-civ-spouse        Tech-support             Wife
32557      Married-civ-spouse   Machine-op-inspct          Husband
32558                 Widowed        Adm-clerical        Unmarried
32559           Never-married        Adm-clerical        Own-child
32560      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital-gain  capital-loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White     Male             0             0
8                    White   Female         14084             0
9                    White     Male          5178             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12                   White   Female             0             0
13                   Black     Male             0             0
14      Asian-Pac-Islander     Male             0             0
15      Amer-Indian-Eskimo     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White     Male             0             0
19                   White   Female             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   Black     Male             0             0
23                   White     Male             0          2042
24                   White   Female             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27      Asian-Pac-Islander     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32531   Asian-Pac-Islander   Female             0             0
32532                White     Male             0             0
32533   Asian-Pac-Islander     Male             0             0
32534                White   Female             0             0
32535                Black     Male             0             0
32536                White   Female             0             0
32537                Black     Male             0             0
32538                Black   Female         15020             0
32539                White     Male             0             0
32540                White   Female             0             0
32541                Black   Female             0             0
32542                White     Male             0             0
32543                White   Female             0             0
32544                Other   Female             0             0
32545                White   Female             0             0
32546                White   Female             0             0
32547                White     Male             0             0
32548                White     Male          1086             0
32549                White   Female             0             0
32550                White     Male             0             0
32551   Amer-Indian-Eskimo     Male             0             0
32552                White     Male             0             0
32553   Asian-Pac-Islander     Male             0             0
32554                White     Male             0             0
32555                White     Male             0             0
32556                White   Female             0             0
32557                White     Male             0             0
32558                White   Female             0             0
32559                White     Male             0             0
32560                White   Female         15024             0

       hours-per-week  native-country gross-income
0                  40   United-States        <=50K
1                  13   United-States        <=50K
2                  40   United-States        <=50K
3                  40   United-States        <=50K
4                  40            Cuba        <=50K
5                  40   United-States        <=50K
6                  16         Jamaica        <=50K
7                  45   United-States         >50K
8                  50   United-States         >50K
9                  40   United-States         >50K
10                 80   United-States         >50K
11                 40           India         >50K
12                 30   United-States        <=50K
13                 50   United-States        <=50K
14                 40               ?         >50K
15                 45          Mexico        <=50K
16                 35   United-States        <=50K
17                 40   United-States        <=50K
18                 50   United-States        <=50K
19                 45   United-States         >50K
20                 60   United-States         >50K
21                 20   United-States        <=50K
22                 40   United-States        <=50K
23                 40   United-States        <=50K
24                 40   United-States        <=50K
25                 40   United-States         >50K
26                 40   United-States        <=50K
27                 60           South         >50K
28                 80   United-States        <=50K
29                 40   United-States        <=50K
...               ...             ...          ...
32531              99   United-States        <=50K
32532              60   United-States         >50K
32533              50           Japan         >50K
32534              39   United-States        <=50K
32535              35   United-States        <=50K
32536              55   United-States         >50K
32537              46   United-States        <=50K
32538              45   United-States         >50K
32539              10   United-States         >50K
32540              40   United-States        <=50K
32541              32   United-States        <=50K
32542              25   United-States        <=50K
32543              48   United-States        <=50K
32544              30   United-States        <=50K
32545              20   United-States         >50K
32546              40   United-States        <=50K
32547              40          Mexico        <=50K
32548              60   United-States        <=50K
32549              40   United-States        <=50K
32550              50   United-States        <=50K
32551              40   United-States        <=50K
32552              45   United-States        <=50K
32553              11          Taiwan        <=50K
32554              40   United-States         >50K
32555              40   United-States        <=50K
32556              38   United-States        <=50K
32557              40   United-States         >50K
32558              40   United-States        <=50K
32559              20   United-States        <=50K
32560              40   United-States         >50K

[32561 rows x 15 columns]

### Packages

A package is a collection of classes and functions.
- a dataframe (pd.DataFrame()) is a pandas class
    - a class is the blueprint of how the data should be organized 
    - classes have methods which can perform operations on the data (e.g., .head(), .shape)
- df is an object, an instance of the class.
    - we put data into the class 
    - methods are attached to objects 
       - you cannot call pd.head(), you can only call df.head()
- read_csv is a function
    - functions are called from the package
    - you cannot call df.read_csv, you can only call pd.read_csv()

### DataFrame structure: both rows and columns are indexed!
- index column, no name
    - contains the row names
    - by default, index is a range object from 0 to number of rows - 1 
    - any column can be turned into an index, so indices can be non-number, and also non-unique. more on this later.
- columns with column names on top

### Always print your dataframe to check if it looks ok!

### Most common reasons it might not look ok:

   - the first row is not the column name
        - there are rows above the column names that need to be skipped
        - there is no column name but by default, pandas assumes the first row is the column name. as a result, 
          the values of the first row end up as column names.
   - character encoding is off
   - separator is not comma but some other charachter

In [2]:
# check the help to find the solution
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

## Exercise 1

How should we read in adult_test.csv properly? Identify and fix the problem.

In [3]:
# add your code here

df = pd.read_csv('data/adult_test.csv')

print(df.head())

  This is the test set for the adult dataset.  Unnamed: 1 Unnamed: 2  \
0     The first two lines need to be skipped.         NaN        NaN
1                                         age   workclass     fnlwgt
2                                          25     Private     226802
3                                          38     Private      89814
4                                          28   Local-gov     336951

    Unnamed: 3     Unnamed: 4           Unnamed: 5          Unnamed: 6  \
0          NaN            NaN                  NaN                 NaN
1    education  education-num       marital-status          occupation
2         11th              7        Never-married   Machine-op-inspct
3      HS-grad              9   Married-civ-spouse     Farming-fishing
4   Assoc-acdm             12   Married-civ-spouse     Protective-serv

     Unnamed: 7 Unnamed: 8 Unnamed: 9   Unnamed: 10   Unnamed: 11  \
0           NaN        NaN        NaN           NaN           NaN
1  relationship       race        sex  capital-gain  capital-loss
2     Own-child      Black       Male             0             0
3       Husband      White       Male             0             0
4       Husband      White       Male             0             0

      Unnamed: 12     Unnamed: 13   Unnamed: 14
0             NaN             NaN           NaN
1  hours-per-week  native-country  gross-income
2              40   United-States        <=50K.
3              50   United-States        <=50K.
4              40   United-States         >50K.

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  **filter rows in various ways**
   -  <font color='LIGHTGRAY'>select columns</font>
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

### How to select rows?

##### 1) Integer-based indexing, numpy arrays are indexed the same way.
##### 2) Select rows based on the value of the index column
##### 3) select rows based on column condition

### 1) Integer-based indexing, numpy arrays are indexed the same way.

In [4]:
# df.iloc[] - for more info, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-integer
# iloc is how numpy arrays are indexed (non-standard python indexing)

# [start:stop:step] -  general indexing format

# start stop step are optional
#print(df.iloc[:])
#print(df.iloc[::])
#print(df.iloc[::1])

# select one row - 0-based indexing
#print(df.iloc[3])

# indexing from the end of the data frame
#print(df.iloc[-2])

In [5]:
# select a slice - stop index not included
#print(df.iloc[3:7])

# select every second element of the slice - stop index not included
# print(df.iloc[3:7:2])

#print(df.iloc[3:7:-2]) # return empty dataframe
#print(df.iloc[7:3:-2])#  return rows with indices 7 and 5. 3 is the stop so it is not included

# can be used to reverse rows
#print(df.iloc[::-1])

# here is where indexing gets non-standard python
# select the 2nd, 5th, and 10th rows
#print(df.iloc[[1,4,9]]) # such indexing doesn't work with lists but it works with numpy arrays


### 2) Select rows based on the value of the index column

In [6]:
# df.loc[] - for more info, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-label

df = pd.read_csv('data/adult_data.csv') 

#print(df.index) # the default index when reading in a file is a range index. In this case,
                 # .loc and .iloc works ALMOST the same.
# one difference:
#print(df.loc[3:9:2]) # this selects the 4th, 6th, 8th, 10th rows - the stop element is included!

#help(df.set_index)

In [7]:
# df_index_age = df.set_index('age',drop=False)

#print(df_index_age.index)
#print(df_index_age.head())

# print(df_index_age.loc[30].head()) # collect everyone with age 30 - the index is non-unique

# print(df_index_age.loc[30:35]) # non-default index cannot be sliced. 
                               # this does not return everyone between ages of 30 and 35

### 3) select rows based on column condition

In [8]:
# one condition
#print(df[df['age']==30].head())
# here is the condition: it's a boolean series - series is basically a dataframe with one column
#print(df['age']==30)

# multiple conditions can be combined with & (and) | (or)
#print(df[(df['age']>30)&(df['age']<35)].head())
#print(df[(df['age']==90)|(df['native-country']==' Hungary')])

### Exercise 2
How many people in adult_data.csv work at least 60 hours a week and have a doctorate?

In [9]:
# add your code here

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  **select columns**
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

In [10]:
columns =  df.columns
print(columns)

# select columns by column name
#print(df[['age','hours-per-week']])
#print(columns[[1,5,7]])
#print(df[columns[[1,5,7]]])

# select columns by index using iloc
#print(df.iloc[:,3])

# select columns by index - not standard python indexing
#print(df.iloc[:,[3,5,6]])

# select columns by index -  standard python indexing
#print(df.iloc[:,::2])

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'gross-income'],
      dtype='object')

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  <font color='LIGHTGRAY'>select columns</font>
   -  **merge and append data frames**

### How to merge dataframes?

Merge - info on data points are distributed in multiple files

Example: patient info

    - one file contains socio-demographic info on patients
    - other file contains hospital visit info
    - yet another file contains insurance info

Not every individual is present in all three files.

How should we combine the three files?

In [11]:
# We have two datasets from two hospitals

hospital1 = {'ID':['ID1','ID2','ID3','ID4','ID5','ID6','ID7'],'col1':[5,8,2,6,0,2,5],'col2':['y','j','w','b','a','b','t']}
df1 = pd.DataFrame(data=hospital1)
print(df1)

hospital2 = {'ID':['ID2','ID5','ID6','ID10','ID11'],'col3':[12,76,34,98,65],'col2':['q','u','e','l','p']}
df2 = pd.DataFrame(data=hospital2)
print(df2)

    ID  col1 col2
0  ID1     5    y
1  ID2     8    j
2  ID3     2    w
3  ID4     6    b
4  ID5     0    a
5  ID6     2    b
6  ID7     5    t
     ID  col3 col2
0   ID2    12    q
1   ID5    76    u
2   ID6    34    e
3  ID10    98    l
4  ID11    65    p

In [12]:
# we are interested in only patients from hospital1
# df_left = df1.merge(df2,how='left',on='ID') # IDs from the left dataframe (df1) are kept
# print(df_left)

# we are interested in only patients from hospital2
# df_right = df1.merge(df2,how='right',on='ID') # IDs from the right dataframe (df2) are kept
# print(df_right)

# we are interested in patiens who were in both hospitals
# df_inner = df1.merge(df2,how='inner',on='ID') # merging on IDs present in both dataframes
# print(df_inner)

# we are interested in all patients who visited at least one of the hospitals
# df_outer = df1.merge(df2,how='outer',on='ID')  # merging on IDs present in any dataframe
# print(df_outer)

### How to append dataframes?

Append - new data comes in over a period of time. E.g., one file per month/quarter/fiscal year etc.


You want to combine these files into one data frame.

In [13]:
df_append = df1.append(df2) # note that rows with ID2, ID5, and ID6  are duplicated! Indices are duplicated too.
print(df_append)

# df_append = df1.append(df2,ignore_index=True) # note that rows with ID2, ID5, and ID6  are duplicated! 
# print(df_append)

# d3 = {'ID':['ID23','ID94','ID56','ID17'],'col1':['rt','h','st','ne'],'col2':[23,86,23,78]}
# df3 = pd.DataFrame(data=d3)
# print(df3)

# df_append = df1.append([df2,df3],ignore_index=True) # multiple dataframes can be appended to df1
# print(df_append)

     ID  col1 col2  col3
0   ID1   5.0    y   NaN
1   ID2   8.0    j   NaN
2   ID3   2.0    w   NaN
3   ID4   6.0    b   NaN
4   ID5   0.0    a   NaN
5   ID6   2.0    b   NaN
6   ID7   5.0    t   NaN
0   ID2   NaN    q  12.0
1   ID5   NaN    u  76.0
2   ID6   NaN    e  34.0
3  ID10   NaN    l  98.0
4  ID11   NaN    p  65.0

/anaconda3/envs/datasci_v0.0.2_local4.yml/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

### Exercise 3
- Create three data frames from raw_data_1, 2, and 3.
- Append the first two data frames and assign it to df_append.
- Merge the third data frame with df_append such that only subject_ids from df_append are present. 
- Assign the new data frame to df_merge. 
- How many rows and columns do we have in df_merge?

In [14]:
# add your code here
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Always check that the resulting dataframe is what you wanted to end up with!
- small toy datasets are ideal to test your code.

### If you need to do a more complicated dataframe operation, check out pd.concat()!

### We will learn how to add/delete/modify columns later when we learn about feature engineering.

### By now, you are able to
   - read in csv, excel, and sql data into a pandas data frame
   - filter rows in various ways
   - select columns
   - merge and append data frames