## <center> Go to piazza and open today's lecture notes in the hub! </center>
## <center> https://piazza.com/class/jzioyk40mhs6r2 </center>
## <center> Let's go to tophat for attendance! </center>
## <center> https://app.tophat.com/e/245218 </center>

## Project
- I'll assign a TA mentor to you tomorrow, the TAs will reach out to you via email.
- Meet with your TA mentor by September 24th!
- First draft of project description due to the TAs by 24th of September
- Final draft is due by September 30th!

# <center> Data transformations: pandas data frames </center>
### By the end of this course, you will be able to
   - read in csv, excel, and sql data into a pandas data frame
   - filter rows in various ways
   - select columns
   - merge and append data frames

### Some notes and advice

- **ALWAYS READ THE HELP OF THE METHODS/FUNCTIONS YOU USE!**

- stackoverflow is your friend, use it! https://stackoverflow.com/

## <center> Pandas </center>

- data are often distributed over multiple files/databases (e.g., csv and excel files, sql databases)
- each file/database is read into a pandas dataframe
- you often need to filter dataframes (select specific rows/columns based on index or condition)
- pandas dataframes can be merged and appended

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - **read in csv, excel, and sql data into a pandas data frame**
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  <font color='LIGHTGRAY'>select columns</font>
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

In [18]:
# how to read in a database into a dataframe and basic dataframe structure
import pandas as pd

# load data from a csv file
df = pd.read_csv('data/adult_data.csv') # there are also pd.read_excel(), and pd.read_sql()

#print(df)
print(df.head()) # by default, shows the first five rows but check help(df.head) to specify the number of rows to show
#print(df.shape) # the shape of your dataframe (number of rows, number of columns)
#print(df.shape[0]) # number of rows
#print(df.shape[1]) # number of columns

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country gross-income
0          2174             0              40   United-States        <=50K
1             0             0              13   United-States        <=50K
2             0             0              40   United-States        <=50K
3             0             0              40   United-States        <=50K
4             0             0              40            Cuba        <=50K

### Packages

A package is a collection of classes and functions.
- a dataframe (pd.DataFrame()) is a pandas class
    - a class is the blueprint of how the data should be organized 
    - classes have methods which can perform operations on the data (e.g., .head(), .shape)
- df is an object, an instance of the class.
    - we put data into the class 
    - methods are attached to objects 
       - you cannot call pd.head(), you can only call df.head()
- read_csv is a function
    - functions are called from the package
    - you cannot call df.read_csv, you can only call pd.read_csv()

### DataFrame structure: both rows and columns are indexed!
- index column, no name
    - contains the row names
    - by default, index is a range object from 0 to number of rows - 1 
    - any column can be turned into an index, so indices can be non-number, and also non-unique. more on this later.
- columns with column names on top

### Always print your dataframe to check if it looks ok!

### Most common reasons it might not look ok:

   - the first row is not the column name
        - there are rows above the column names that need to be skipped
        - there is no column name but by default, pandas assumes the first row is the column name. as a result, 
          the values of the first row end up as column names.
   - character encoding is off
   - separator is not comma but some other charachter

In [2]:
# check the help to find the solution
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

## Exercise 1

How should we read in adult_test.csv properly? Identify and fix the problem.

In [20]:
# add your code here

df = pd.read_csv('data/adult_test.csv',header=2)

print(df.head())

   age   workclass  fnlwgt      education  education-num       marital-status  \
0   25     Private  226802           11th              7        Never-married
1   38     Private   89814        HS-grad              9   Married-civ-spouse
2   28   Local-gov  336951     Assoc-acdm             12   Married-civ-spouse
3   44     Private  160323   Some-college             10   Married-civ-spouse
4   18           ?  103497   Some-college             10        Never-married

           occupation relationship    race      sex  capital-gain  \
0   Machine-op-inspct    Own-child   Black     Male             0
1     Farming-fishing      Husband   White     Male             0
2     Protective-serv      Husband   White     Male             0
3   Machine-op-inspct      Husband   Black     Male          7688
4                   ?    Own-child   White   Female             0

   capital-loss  hours-per-week  native-country gross-income
0             0              40   United-States       <=50K.
1             0              50   United-States       <=50K.
2             0              40   United-States        >50K.
3             0              40   United-States        >50K.
4             0              30   United-States       <=50K.

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  **filter rows in various ways**
   -  <font color='LIGHTGRAY'>select columns</font>
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

### How to select rows?

##### 1) Integer-based indexing, numpy arrays are indexed the same way.
##### 2) Select rows based on the value of the index column
##### 3) select rows based on column condition

### 1) Integer-based indexing, numpy arrays are indexed the same way.

In [22]:
# df.iloc[] - for more info, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-integer
# iloc is how numpy arrays are indexed (non-standard python indexing)

# [start:stop:step] -  general indexing format

# start stop step are optional
# print(df.iloc[:])
# print(df.iloc[::])
# print(df.iloc[::1])

# select one row - 0-based indexing
#print(df.iloc[3])

# indexing from the end of the data frame
print(df.iloc[-2])

age                                44
workclass                     Private
fnlwgt                          83891
education                   Bachelors
education-num                      13
marital-status               Divorced
occupation               Adm-clerical
relationship                Own-child
race               Asian-Pac-Islander
sex                              Male
capital-gain                     5455
capital-loss                        0
hours-per-week                     40
native-country          United-States
gross-income                   <=50K.
Name: 16279, dtype: object

In [29]:
# select a slice - stop index not included
#print(df.iloc[3:7])

# select every second element of the slice - stop index not included
#print(df.iloc[3:7:2])

#print(df.iloc[3:7:-2]) # return empty dataframe
#print(df.iloc[7:3:-2])#  return rows with indices 7 and 5. 3 is the stop so it is not included

# can be used to reverse rows
#print(df.iloc[::-1])

# here is where indexing gets non-standard python
# select the 2nd, 5th, and 10th rows
print(df.iloc[[1,4,9]]) # such indexing doesn't work with lists but it works with numpy arrays

   age workclass  fnlwgt      education  education-num       marital-status  \
1   38   Private   89814        HS-grad              9   Married-civ-spouse
4   18         ?  103497   Some-college             10        Never-married
9   55   Private  104996        7th-8th              4   Married-civ-spouse

         occupation relationship    race      sex  capital-gain  capital-loss  \
1   Farming-fishing      Husband   White     Male             0             0
4                 ?    Own-child   White   Female             0             0
9      Craft-repair      Husband   White     Male             0             0

   hours-per-week  native-country gross-income
1              50   United-States       <=50K.
4              30   United-States       <=50K.
9              10   United-States       <=50K.


### 2) Select rows based on the value of the index column

In [32]:
# df.loc[] - for more info, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-label

df = pd.read_csv('data/adult_data.csv') 

print(df.index) # the default index when reading in a file is a range index. In this case,
                 # .loc and .iloc works ALMOST the same.
# one difference:
#print(df.loc[3:9:2]) # this selects the 4th, 6th, 8th, 10th rows - the stop element is included!

help(df.set_index)

RangeIndex(start=0, stop=32561, step=1)
Help on method set_index in module pandas.core.frame:

set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) method of pandas.core.frame.DataFrame instance
    Set the DataFrame index using existing columns.

    Set the DataFrame index (row labels) using one or more existing
    columns or arrays (of the correct length). The index can replace the
    existing index or expand on it.

    Parameters
    ----------
    keys : label or array-like or list of labels/arrays
        This parameter can be either a single column key, a single array of
        the same length as the calling DataFrame, or a list containing an
        arbitrary combination of column keys and arrays. Here, "array"
        encompasses :class:`Series`, :class:`Index` and ``np.ndarray``.
    drop : bool, default True
        Delete columns to be used as the new index.
    append : bool, default False
        Whether to append columns to existing index.
    inplace : bool, default False
        Modify the DataFrame in place (do not create a new object).
    verify_integrity : bool, default False
        Check the new index for duplicates. Otherwise defer the check until
        necessary. Setting to False will improve the performance of this
        method.

    Returns
    -------
    DataFrame
        Changed row labels.

    See Also
    --------
    DataFrame.reset_index : Opposite of set_index.
    DataFrame.reindex : Change to new indices or expand indices.
    DataFrame.reindex_like : Change to same indices as other DataFrame.

    Examples
    --------
    >>> df = pd.DataFrame({'month': [1, 4, 7, 10],
    ...                    'year': [2012, 2014, 2013, 2014],
    ...                    'sale': [55, 40, 84, 31]})
    >>> df
       month  year  sale
    0      1  2012    55
    1      4  2014    40
    2      7  2013    84
    3     10  2014    31

    Set the index to become the 'month' column:

    >>> df.set_index('month')
           year  sale
    month
    1      2012    55
    4      2014    40
    7      2013    84
    10     2014    31

    Create a MultiIndex using columns 'year' and 'month':

    >>> df.set_index(['year', 'month'])
                sale
    year  month
    2012  1     55
    2014  4     40
    2013  7     84
    2014  10    31

    Create a MultiIndex using an Index and a column:

    >>> df.set_index([pd.Index([1, 2, 3, 4]), 'year'])
             month  sale
       year
    1  2012  1      55
    2  2014  4      40
    3  2013  7      84
    4  2014  10     31

    Create a MultiIndex using two Series:

    >>> s = pd.Series([1, 2, 3, 4])
    >>> df.set_index([s, s**2])
          month  year  sale
    1 1       1  2012    55
    2 4       4  2014    40
    3 9       7  2013    84
    4 16     10  2014    31

In [36]:
df_index_age = df.set_index('age',drop=False)

#print(df_index_age.index)
#print(df_index_age.head())

#print(df_index_age.loc[30].shape) # collect everyone with age 30 - the index is non-unique

print(df_index_age.loc[30:35]) # non-default index cannot be sliced. 
                               # this does not return everyone between ages of 30 and 35

KeyError: 'Cannot get left slice bound for non-unique label: 30'

### 3) select rows based on column condition

In [47]:
# one condition
#print(df[df['age']==30].head())
# here is the condition: it's a boolean series - series is basically a dataframe with one column
#print(df['age']==30)

# multiple conditions can be combined with & (and) | (or)
#print(df[(df['age']>30)&(df['age']<35)].head())
#print(df[(df['age']==90)|(df['native-country']==' Hungary')])

print(df.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
gross-income      object
dtype: object

### Exercise 2
How many people in adult_data.csv work at least 60 hours a week and have a doctorate?

In [49]:
# add your code here
df = pd.read_csv('data/adult_data.csv') 

print(df[(df['hours-per-week']>=60)&(df['education']==' Doctorate')].shape[0])

96

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  **select columns**
   -  <font color='LIGHTGRAY'>merge and append data frames</font>

In [56]:
columns =  df.columns
#print(columns)

# select columns by column name
#print(df[['age','hours-per-week']])
#print(columns[[1,5,7]])
#print(df[columns[[1,5,7]]])

# select columns by index using iloc
#print(df.iloc[:,3])

# select columns by index - not standard python indexing
#print(df.iloc[:,[3,5,6]])

# select columns by index -  standard python indexing
print(df.iloc[:,::2])

       age  fnlwgt  education-num          occupation                 race  \
0       39   77516             13        Adm-clerical                White
1       50   83311             13     Exec-managerial                White
2       38  215646              9   Handlers-cleaners                White
3       53  234721              7   Handlers-cleaners                Black
4       28  338409             13      Prof-specialty                Black
5       37  284582             14     Exec-managerial                White
6       49  160187              5       Other-service                Black
7       52  209642              9     Exec-managerial                White
8       31   45781             14      Prof-specialty                White
9       42  159449             13     Exec-managerial                White
10      37  280464             10     Exec-managerial                Black
11      30  141297             13      Prof-specialty   Asian-Pac-Islander
12      23  122272             13        Adm-clerical                White
13      32  205019             12               Sales                Black
14      40  121772             11        Craft-repair   Asian-Pac-Islander
15      34  245487              4    Transport-moving   Amer-Indian-Eskimo
16      25  176756              9     Farming-fishing                White
17      32  186824              9   Machine-op-inspct                White
18      38   28887              7               Sales                White
19      43  292175             14     Exec-managerial                White
20      40  193524             16      Prof-specialty                White
21      54  302146              9       Other-service                Black
22      35   76845              5     Farming-fishing                Black
23      43  117037              7    Transport-moving                White
24      59  109015              9        Tech-support                White
25      56  216851             13        Tech-support                White
26      19  168294              9        Craft-repair                White
27      54  180211             10                   ?   Asian-Pac-Islander
28      39  367260              9     Exec-managerial                White
29      49  193366              9        Craft-repair                White
...    ...     ...            ...                 ...                  ...
32531   30   33811             13                   ?   Asian-Pac-Islander
32532   34  204461             16      Prof-specialty                White
32533   54  337992             13     Exec-managerial   Asian-Pac-Islander
32534   37  179137             10        Adm-clerical                White
32535   22  325033              8     Protective-serv                Black
32536   34  160216             13     Exec-managerial                White
32537   30  345898              9        Craft-repair                Black
32538   38  139180             13      Prof-specialty                Black
32539   71  287372             16                   ?                White
32540   45  252208              9        Adm-clerical                White
32541   41  202822              9                   ?                Black
32542   72  129912              9                   ?                White
32543   45  119199             12      Prof-specialty                White
32544   31  199655             14       Other-service                Other
32545   39  111499             12        Adm-clerical                White
32546   37  198216             12        Tech-support                White
32547   43  260761              9   Machine-op-inspct                White
32548   65   99359             15      Prof-specialty                White
32549   43  255835             10        Adm-clerical                White
32550   43   27242             10        Craft-repair                White
32551   32   34066              6   Handlers-cleaners   Amer-Indian-Eskimo
32552   43   84661             11               Sales                White
32553   32  116138             14        Tech-support   Asian-Pac-Islander
32554   53  321865             14     Exec-managerial                White
32555   22  310152             10     Protective-serv                White
32556   27  257302             12        Tech-support                White
32557   40  154374              9   Machine-op-inspct                White
32558   58  151910              9        Adm-clerical                White
32559   22  201490              9        Adm-clerical                White
32560   52  287927              9     Exec-managerial                White

       capital-gain  hours-per-week gross-income
0              2174              40        <=50K
1                 0              13        <=50K
2                 0              40        <=50K
3                 0              40        <=50K
4                 0              40        <=50K
5                 0              40        <=50K
6                 0              16        <=50K
7                 0              45         >50K
8             14084              50         >50K
9              5178              40         >50K
10                0              80         >50K
11                0              40         >50K
12                0              30        <=50K
13                0              50        <=50K
14                0              40         >50K
15                0              45        <=50K
16                0              35        <=50K
17                0              40        <=50K
18                0              50        <=50K
19                0              45         >50K
20                0              60         >50K
21                0              20        <=50K
22                0              40        <=50K
23                0              40        <=50K
24                0              40        <=50K
25                0              40         >50K
26                0              40        <=50K
27                0              60         >50K
28                0              80        <=50K
29                0              40        <=50K
...             ...             ...          ...
32531             0              99        <=50K
32532             0              60         >50K
32533             0              50         >50K
32534             0              39        <=50K
32535             0              35        <=50K
32536             0              55         >50K
32537             0              46        <=50K
32538         15020              45         >50K
32539             0              10         >50K
32540             0              40        <=50K
32541             0              32        <=50K
32542             0              25        <=50K
32543             0              48        <=50K
32544             0              30        <=50K
32545             0              20         >50K
32546             0              40        <=50K
32547             0              40        <=50K
32548          1086              60        <=50K
32549             0              40        <=50K
32550             0              50        <=50K
32551             0              40        <=50K
32552             0              45        <=50K
32553             0              11        <=50K
32554             0              40         >50K
32555             0              40        <=50K
32556             0              38        <=50K
32557             0              40         >50K
32558             0              40        <=50K
32559             0              20        <=50K
32560         15024              40         >50K

[32561 rows x 8 columns]

# <font color='LIGHTGRAY'><center> Data transformations: pandas data frames </center></font>
###  <font color='LIGHTGRAY'>By the end of this course, you will be able to</font>
   - <font color='LIGHTGRAY'>read in csv, excel, and sql data into a pandas data frame</font>
   -  <font color='LIGHTGRAY'>filter rows in various ways</font>
   -  <font color='LIGHTGRAY'>select columns</font>
   -  **merge and append data frames**

### How to merge dataframes?

Merge - info on data points are distributed in multiple files

Example: patient info

    - one file contains socio-demographic info on patients
    - other file contains hospital visit info
    - yet another file contains insurance info

Not every individual is present in all three files.

How should we combine the three files?

In [11]:
# We have two datasets from two hospitals

hospital1 = {'ID':['ID1','ID2','ID3','ID4','ID5','ID6','ID7'],'col1':[5,8,2,6,0,2,5],'col2':['y','j','w','b','a','b','t']}
df1 = pd.DataFrame(data=hospital1)
print(df1)

hospital2 = {'ID':['ID2','ID5','ID6','ID10','ID11'],'col3':[12,76,34,98,65],'col2':['q','u','e','l','p']}
df2 = pd.DataFrame(data=hospital2)
print(df2)

    ID  col1 col2
0  ID1     5    y
1  ID2     8    j
2  ID3     2    w
3  ID4     6    b
4  ID5     0    a
5  ID6     2    b
6  ID7     5    t
     ID  col3 col2
0   ID2    12    q
1   ID5    76    u
2   ID6    34    e
3  ID10    98    l
4  ID11    65    p

In [60]:
# we are interested in only patients from hospital1
#df_left = df1.merge(df2,how='left',on='ID') # IDs from the left dataframe (df1) are kept
#print(df_left)

# we are interested in only patients from hospital2
#df_right = df1.merge(df2,how='right',on='ID') # IDs from the right dataframe (df2) are kept
#print(df_right)

# we are interested in patiens who were in both hospitals
#df_inner = df1.merge(df2,how='inner',on='ID') # merging on IDs present in both dataframes
#print(df_inner)

# we are interested in all patients who visited at least one of the hospitals
df_outer = df1.merge(df2,how='outer',on='ID')  # merging on IDs present in any dataframe
print(df_outer)

     ID  col1 col2_x  col3 col2_y
0   ID1   5.0      y   NaN    NaN
1   ID2   8.0      j  12.0      q
2   ID3   2.0      w   NaN    NaN
3   ID4   6.0      b   NaN    NaN
4   ID5   0.0      a  76.0      u
5   ID6   2.0      b  34.0      e
6   ID7   5.0      t   NaN    NaN
7  ID10   NaN    NaN  98.0      l
8  ID11   NaN    NaN  65.0      p

### How to append dataframes?

Append - new data comes in over a period of time. E.g., one file per month/quarter/fiscal year etc.


You want to combine these files into one data frame.

In [64]:
#df_append = df1.append(df2) # note that rows with ID2, ID5, and ID6  are duplicated! Indices are duplicated too.
#print(df_append)

#df_append = df1.append(df2,ignore_index=True) # note that rows with ID2, ID5, and ID6  are duplicated! 
#print(df_append)

d3 = {'ID':['ID23','ID94','ID56','ID17'],'col1':['rt','h','st','ne'],'col2':[23,86,23,78]}
df3 = pd.DataFrame(data=d3)
#print(df3)

df_append = df1.append([df2,df3],ignore_index=True) # multiple dataframes can be appended to df1
print(df_append)

      ID col1 col2  col3
0    ID1    5    y   NaN
1    ID2    8    j   NaN
2    ID3    2    w   NaN
3    ID4    6    b   NaN
4    ID5    0    a   NaN
5    ID6    2    b   NaN
6    ID7    5    t   NaN
7    ID2  NaN    q  12.0
8    ID5  NaN    u  76.0
9    ID6  NaN    e  34.0
10  ID10  NaN    l  98.0
11  ID11  NaN    p  65.0
12  ID23   rt   23   NaN
13  ID94    h   86   NaN
14  ID56   st   23   NaN
15  ID17   ne   78   NaN

### Exercise 3
- Create three data frames from raw_data_1, 2, and 3.
- Append the first two data frames and assign it to df_append.
- Merge the third data frame with df_append such that only subject_ids from df_append are present. 
- Assign the new data frame to df_merge. 
- How many rows and columns do we have in df_merge?

In [65]:
# add your code here
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

df1 = pd.DataFrame(raw_data_1)
df2 = pd.DataFrame(raw_data_2)
df3 = pd.DataFrame(raw_data_3)

df_append = df1.append(df2)
print(df_append)

df_merge = df_append.merge(df3,how='left',on='subject_id')
#df_merge = df3.merge(df_append,how='right',on='subject_id')
print(df_merge)
print(df_merge.shape)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          6      Billy    Bonder
1          7      Brian     Black
2          8       Bran   Balwner
3          9      Bryce     Brice
4         10      Betty    Btisan
  subject_id first_name last_name  test_id
0          1       Alex  Anderson     51.0
1          2        Amy  Ackerman     15.0
2          3      Allen       Ali     15.0
3          4      Alice      Aoni     61.0
4          5     Ayoung   Atiches     16.0
5          6      Billy    Bonder      NaN
6          7      Brian     Black     14.0
7          8       Bran   Balwner     15.0
8          9      Bryce     Brice      1.0
9         10      Betty    Btisan     61.0
(10, 4)

### Always check that the resulting dataframe is what you wanted to end up with!
- small toy datasets are ideal to test your code.

### If you need to do a more complicated dataframe operation, check out pd.concat()!

### We will learn how to add/delete/modify columns later when we learn about feature engineering.

### By now, you are able to
   - read in csv, excel, and sql data into a pandas data frame
   - filter rows in various ways
   - select columns
   - merge and append data frames